:root {
    --primary-color: #ef5e4b;
    --primary-dark: #ef644b;
    --primary-light: #FF8C5A;
    --secondary-color: #004E89;
    --light-bg: #FFF8F5;
    --dark-text: #2E2E2E;
    --light-text: #FFFFFF;
    --gray-text: #6D6D6D;
}

::selection {
  background-color:var(--primary-dark);
  color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tajawal', sans-serif;
    color: var(--dark-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* تقسيم الصفحة لنصفين */
.page-layout{
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* الصورة الجانبية (على الشمال) */
.side-image{
  width: 50%;
  position: fixed;
  left: 0;           /* ← غيرنا من right إلى left */
  top: 0;
  height: 100vh;
}

.side-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* الصورة العلوية */
.card-img {
    text-align: center;
    margin-bottom: 15px;
    margin-right: 50%;
}

.card-img img{
    height: 90%;
    border-radius: 30px;
}

/* الفورم يبقى في الجنب التاني */
.card{
  width: 50%;
  margin-top: 100px;
  padding: 40px;
  background: white;
}

/* عنوان الفورم */
.card h2{
    text-align:center;
    margin-bottom:15px;
    color: var(--primary-dark);
}

/* اللبل */
label{
    display:block;
    margin-top:10px;
    font-size: 14px;
    color: var(--gray-text);
}

/* المدخلات */
input, select{
    width:100%;
    padding:12px;
    margin-top:5px;
    border-radius:10px;
    border:1px solid #ddd;
    background:#ffffff;
    color:black;
    outline:none;
    transition: .3s ease;
}

input::placeholder{
    color:#999;
}

input:focus, select:focus{
    border-color: var(--primary-color);
    box-shadow:0 0 6px rgba(239,94,75,.3);
}

/* خانة الـ ID */
#studentID{
    background:#f7f7f7;
    font-weight:bold;
    text-align:center;
    letter-spacing:2px;
}

/* زر الحفظ */
button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background: var(--primary-color);
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background: var(--primary-dark);
}

/* رسالة النتيجة */
.result{
    margin-top:15px;
    padding:10px;
    border-radius:10px;
    background:#e6fff2;
    color:#064e3b;
    display:none;
}


.result{
  margin-top:15px;
  padding:15px;
  border-radius:15px;
  background:#e6fff2;
  color:#064e3b;
  text-align:center;
}

.login-card{
  background:white;
  padding:10px;
  border-radius:10px;
  margin:10px 0;
}


/* ====== RESPONSIVE للموبايل ====== */
@media (max-width: 768px){

  .page-layout{
    flex-direction: column;
  }

  .side-image{
    position: relative;   /* مهم جدًا */
    width: 100%;
    height: 100%;        /* الصورة تبقى قصيرة ومقصوصة */
  }

  .side-image img{
    height: 100%;
    object-fit: cover;
        border-radius: 0 0 20px 20px;

  }

  .card{
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 20px;
  }
}